[mysqld]
ndbcluster

server-id           =   1

#pid-file            =   /var/run/mysqld/mysqld.pid
#socket              =   /var/run/mysqld/mysqld.sock

bind-address        =   0.0.0.0

symbolic-links      =   0

datadir             =   /var/lib/mysql


[ndb_cluster]
ndb-connect-string  =   192.168.2.121
